<ul th:fragment="proj-vnav(project)" class="nav flex-column">
    <li class="nav-item mt-4">
        <h3 style="text-align: center" th:text="${project.title}"></h3>
    </li>
    <li class="nav-item">
        <hr/>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/projects/' + ${project.id}}">Information</a>
    </li>
    <li class="nav-item" th:if="${project.currentSprint}">
        <a class="nav-link" href="#">Current Sprint</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/projects/' + ${project.id} + '/backlog'}">Backlog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/projects/' + ${project.id} + '/sprint-results'}">Previous Sprint Results</a>
    </li>
    <li class="nav-item" th:if="${project.projectResult}">
        <a class="nav-link" th:href="@{'/projectresults/' + ${project.id} + '/project-resultt'}">Project Result</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
    </li>
</ul>