<ul th:fragment="proj-vnav(project)" class="nav flex-column">
    <li style="text-align: center" class="nav-item mt-4">
        <h3 th:text="${project.title}"></h3>
    </li>
    <li style="text-align: center" class="nav-item">
        <span th:if="${project.projectResultId}" class="badge bg-success">Completed</span>
    </li>
    <li class="nav-item">
        <hr/>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/projects/' + ${project.id}}">Information</a>
    </li>
    <li class="nav-item" th:if="${project.currentSprintId}">
        <a class="nav-link" th:href="@{'/projects/' + ${project.id} + '/board'}">Current Sprint (Board)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/projects/' + ${project.id} + '/backlog'}">Backlog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{'/projects/' + ${project.id} + '/sprint-results'}">Previous Sprint Results</a>
    </li>
    <li class="nav-item" th:if="${project.projectResultId}">
        <a class="nav-link" th:href="@{'/projectresults/' + ${project.id} + '/project-result'}">Project Result</a>
    </li>
    <li class="nav-item" th:unless="${project.projectResultId}">
        <a class="nav-link" th:href="@{'/projectresults/create'(projectId=${project.id})}">Create Project Result</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
    </li>
</ul>