<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <div class="d-flex justify-content-between">
        <div class="d-inline-block m-3">
            <h3>Users</h3>
        </div>

        <!--        TODO: Add link-->
        <a class="btn btn-primary d-inline-block m-3" href="#" role="button">Create user</a>
    </div>
    <!--            TODO: Uncomment when SP-61 is done-->
    <!--    <div class="row m-3 w-25 h-25">-->
    <!--        <div class="input-group p-0">-->
    <!--            <form th:action="@{/users/search}">-->
    <!--                <input type="text" th:name="keywords" class="form-control rounded" placeholder="Search"-->
    <!--                       aria-label="Search"/>-->
    <!--                <input class="btn btn-outline-primary" type="submit" value="Search">-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->
    <hr/>
    <div id="table-of-contents" class="m-5">
        <table class="table table-striped table-hover">
            <caption>List of all users</caption>
            <thead class="table-dark">
            <tr style="text-align: center">
                <th scope="col">Username</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center" th:each="user : ${users}">
                <td>
                    <a th:href="@{'/users/' + ${user.id}}" th:text="'@' + ${user.username}"></a>
                </td>
                <td th:text="${user.firstName}">First name not found</td>
                <td th:text="${user.lastName}">Last name not found</td>
                <td th:text="${user.email}">Email not found</td>
                <td th:text="${user.printRoles()}">Roles not found</td>
                <td th:text="${user.status.getReadable()}">Status not found</td>
                <td class="align-middle w-25" style="text-align: right" th:if="${userType == 'ADMIN'}">
                    <form action="#" th:action="@{'/users/delete'(userId=${user.id})}" th:method="delete">
                        <a class="btn btn-primary" th:href="@{/users/edit(userId=${user.id})}" role="button">Edit</a>
                        <input type="submit" class="btn btn-danger" value="Delete" th:method="DELETE"/>
                    </form>
                </td>
                <!--                <td class="align-middle w-25" style="text-align: right">-->
                <!--                    <form action="#" th:action="@{'/tasks/delete'(taskId=${task.id})}" th:method="delete">-->
                <!--                        <a class="btn btn-primary" th:href="@{/tasks/edit(taskId=${task.id})}" role="button">Edit</a>-->
                <!--                        <input type="submit" class="btn btn-danger" value="Delete" th:method="DELETE"/>-->
                <!--                    </form>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:replace="fragments/foot.html :: scripts"></script>
</body>
</html>