<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div>
    <div th:replace="fragments/navbar.html :: navbar"></div>

    <div class="d-flex justify-content-between">
        <div class="d-inline-block m-3">
            <h3>Tasks</h3>
        </div>

        <!--        TODO: Add link-->
        <a class="btn btn-primary d-inline-block m-3" href="#" role="button">Create task</a>
    </div>

    <div class="row m-3 w-25 h-25">
        <div class="input-group p-0">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                   aria-describedby="search-addon"/>
            <button type="button" class="btn btn-outline-primary">Search</button>
        </div>
    </div>
    <hr/>
    <div id="table-of-contents" class="m-5">
        <table class="table table-striped table-hover">
            <caption>List of all tasks</caption>
            <thead class="table-dark">
            <tr style="text-align: center">
                <th scope="col">Title</th>
                <th scope="col">Task type</th>
                <th scope="col">Added by</th>
                <th scope="col">Estimated effort</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center" th:each="task : ${tasks}">
                <td>
                    <a th:href="@{'/tasks/' + ${task.id}}" th:text="${task.title}"></a>
                </td>
                <td th:text="${task.taskType.getReadable()}">Task type not found</td>
                <td>
                    <a th:href="@{'/users/' + ${task.addedBy.id}}" th:text="'@' + ${task.addedBy.username}"></a>
                </td>
                <td th:text="${task.estimatedEffort}">Estimation not found</td>
                <td th:text="${task.status.getReadable()}">Status not found</td>
                <td class="align-middle w-25">
                    <!--                    TODO: Add links-->
                    <a class="btn btn-primary" href="#" role="button">Edit</a>
                    <a class="btn btn-danger" href="#" role="button">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:replace="fragments/foot.html :: scripts"></script>
</body>
</html>