<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="border-0 shadow rounded-3 my-5">
                <div class="p-4 p-sm-5">
                    <h5 th:if="${request} == 'POST'" class="text-center mb-5 fw-light fs-5">Create task</h5>
                    <h5 th:if="${request} == 'PUT'" class="text-center mb-5 fw-light fs-5">Edit task</h5>
                    <form th:object="${task}" th:method="${request}">
                        <div class="form-floating mb-3">
                            <input th:value="${task.title}" id="taskTitleId" name="title" type="text" min="2"
                                   max="120"
                                   class="form-control"
                                   placeholder="Title"/>
                            <label for="taskTitleId">Title</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:value="${task.description}" id="taskDescriptionId" name="description"
                                   type="text" min="10"
                                   max="2500"
                                   class="form-control"
                                   placeholder="Description"/>
                            <label for="taskDescriptionId">Description</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:value="${task.estimatedEffort}" id="taskEstimatedEffortId" name="estimatedEffort"
                                   type="text"
                                   class="form-control"
                                   placeholder="Estimation"/>
                            <label for="taskEstimatedEffortId">Estimation</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:value="${task.tags}" id="taskTagsId" name="tags" type="text"
                                   class="form-control"
                                   placeholder="Tags"/>
                            <label for="taskTagsId">Tags</label>
                        </div>

                        <div class="form-group mb-3">
                            <label for="typeId" class="col-sm-2 control-label">Task type</label>
                            <select th:field="*{taskType}" id="typeId" class="js-example-basic-single form-control">
                                <option th:each="type : ${T(course.spring.jyra.model.TaskType).values()}"
                                        th:value="${type}"
                                        th:text="${type.getReadable()}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group mb-3" th:if="${request} == 'PUT'">
                            <label for="statusId" class="col-sm-2 control-label">Task status</label>
                            <select th:field="*{status}" id="statusId" class="js-example-basic-single form-control">
                                <option th:each="status : ${T(course.spring.jyra.model.TaskStatus).values()}"
                                        th:value="${status}"
                                        th:text="${status.getReadable()}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="devsIds" class="col-sm-2 control-label">Developers</label>
                            <select class="js-example-basic-multiple form-control" th:field="*{developersAssignedIds}"
                                    id="devsIds" name="developersAssignedIds" multiple="multiple">
                                <option th:each="developer : ${developers}"
                                        th:value="${developer.id}"
                                        th:text="${developer.username}">Developer
                                </option>
                            </select>
                        </div>

                        <div class="form-group mb-3" th:if="${sprint}">
                            <label for="sprintId" class="col-sm-2 control-label">Sprint</label>
                            <select th:field="*{sprintId}" id="sprintId" class="js-example-basic-single form-control">
                                <option th:value="${sprint.id}" th:text="${sprint.title}"></option>
                            </select>
                        </div>

                        <div class="d-grid my-3">
                            <input th:if="${request} == 'POST'" type="submit"
                                   class="btn btn-primary text-uppercase fw-bold"
                                   value="Create" th:method="POST"/>
                            <input th:if="${request} == 'PUT'" type="submit"
                                   class="btn btn-primary text-uppercase fw-bold"
                                   value="Edit" th:method="PUT"/>
                        </div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/foot.html :: scripts"></script>
<script src="/js/form-task.js"></script>
</body>
</html>