<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Edit user</h5>
                    <form th:object="${user}" th:method="PUT">
                        <div class="form-floating mb-3">
                            <input th:value="${user.firstName}" id="fnameId" name="firstName" type="text" min="2"
                                   max="15"
                                   class="form-control"
                                   placeholder="First name"/>
                            <label for="fnameId">First name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:value="${user.lastName}" id="lnameId" name="lastName" type="text" min="2"
                                   max="15"
                                   class="form-control"
                                   placeholder="Last name"/>
                            <label for="lnameId">Last name</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:value="${user.email}" id="email" name="email" type="email"
                                   class="form-control"
                                   placeholder="Email"/>
                            <label for="email">Email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:value="${user.password}" id="passwordId" name="password" type="password"
                                   class="form-control"
                                   placeholder="Password"/>
                            <label for="passwordId">Password</label>
                        </div>

                        <div class="form-floating mb-3" th:if="${editorType == 'ADMIN'}">
                            <select th:field="*{roles}" id="userType" class="form-control">
                                <option th:each="role : ${T(course.spring.jyra.model.Role).values()}"
                                        th:value="${role}"
                                        th:text="${role.readable}"
                                        th:selected="${#sets.contains(user.roles, role)}">User type
                                </option>
                            </select>
                            <label for="userType">User type</label>
                        </div>

                        <div class="form-floating mb-3" th:if="${editorType == 'ADMIN'}">
                            <select th:field="*{status}" id="userStatus" class="form-control">
                                <option th:each="status : ${T(course.spring.jyra.model.UserStatus).values()}"
                                        th:value="${status}"
                                        th:text="${status.readable}"
                                        th:selected="${#sets.contains(user.status, status)}">User status
                                </option>
                            </select>
                            <label for="userStatus">User status</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input th:value="${user.contacts}" id="contacts" name="contacts" type="text" min="10"
                                   max="250"
                                   class="form-control"
                                   placeholder="Contacts"/>
                            <label for="contacts">Contacts</label>
                        </div>

                        <div class="d-grid">
                            <input type="submit" class="btn btn-primary btn-login text-uppercase fw-bold"
                                   value="Edit" th:method="PUT"/>
                        </div>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/foot.html :: scripts"></script>
</body>
</html>