<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 d-flex bg-light vh-100">
            <div th:replace="fragments/project-vnav :: proj-vnav(project=${project})"></div>
        </div>

        <div class="col-sm-10 d-flex justify-content-center row">
            <!--            TODO:-->
            <!--            BOARD CLASS POPULATED WITH DATA FROM THE CURRENT SPRINT-->
        </div>
    </div>
</div>

<script th:replace="fragments/foot.html :: scripts"></script>
</body>
</html>