<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container-fluid">
    <div class="row m-5">
        <div class="col-sm-4 d-flex justify-content-center">
            <div class="text-center">
                <img class="rounded-circle z-depth-5 border"
                     th:if="${user.imageUrl}"
                     th:src="@{${user.imageUrl}}"
                     alt="User avatar"
                     width="192"
                     height="192"/>
                <h3 class="mt-2" th:text="${user.firstName} + ' ' + ${user.lastName}"></h3>
                <p th:text="'@' + ${user.username}"></p>
                <p th:text="'Roles: ' + ${user.printRoles()}"></p>

                <hr class="m-2"/>

                <p th:text="'Status: ' + ${user.status.getReadable()}"></p>
                <p th:text="${user.email}"></p>
                <p th:text="${user.contacts}"></p>

                <hr class="m-2"/>

                <!--                TODO: Uncomment if necessary-->
                <!--                <a class="btn btn-primary" href="#" role="button">Manage profile</a>-->
            </div>
        </div>
        <div class="col-sm-8 d-flex justify-content-center">
            <div id="dev-content" th:if="${userType == 'DEV'}">
                <div class="m-2" th:if="${assignedTasks}">
                    <table class="table table-striped table-hover">
                        <caption>List of all tasks the user is assigned to</caption>
                        <thead class="table-dark">
                        <tr style="text-align: center">
                            <th scope="col">Title</th>
                            <th scope="col">Task type</th>
                            <th scope="col">Added by</th>
                            <th scope="col">Estimated effort</th>
                            <th scope="col">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="text-align: center" th:each="task : ${assignedTasks}"
                            th:if="${task.status.getReadable() != 'Done'}">
                            <td>
                                <a th:href="@{'/tasks/' + ${task.id}}" th:text="${task.title}"></a>
                            </td>
                            <td th:text="${task.taskType.getReadable()}">Task type not
                                found
                            </td>
                            <td>
                                <a th:href="@{'/users/' + ${task.addedById}}"
                                   th:text="'@' + ${taskUserMapDev.get(task).username}"></a>
                            </td>
                            <td th:text="${task.estimatedEffort}">Estimation not found</td>
                            <td th:text="${task.status.getReadable()}">Status not found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="m-2" th:if="${completedTaskResults}">
                    <table class="table table-striped table-hover">
                        <caption>List of all completed tasks the user was assigned to</caption>
                        <thead class="table-dark">
                        <tr style="text-align: center">
                            <th scope="col">Task</th>
                            <th scope="col">Verified by</th>
                            <th scope="col">Actual effort</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="text-align: center" th:each="taskResult : ${completedTaskResults}">
                            <td>
                                <a th:href="@{'/tasks/' + ${taskResult.taskId}}"
                                   th:text="${taskResultTaskMapDev.get(taskResult).title}"></a>
                            </td>
                            <td>
                                <a th:href="@{'/users/' + ${taskResultUserMapDev.get(taskResult).id}}"
                                   th:text="'@' + ${taskResultUserMapDev.get(taskResult).username}"></a>
                            </td>
                            <td th:text="${taskResult.actualEffort}">Actual effort not
                                found
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="po-content" th:if="${userType == 'PO'}">
                <div class="m-2" th:if="${projects}">
                    <table class="table table-striped table-hover">
                        <caption>List of all projects the user is responsible for</caption>
                        <thead class="table-dark">
                        <tr style="text-align: center">
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="text-align: center" th:each="project : ${projects}"
                            th:if="${project.projectResultId == null}">
                            <td>
                                <a th:href="@{'/projects/' + ${project.id}}" th:text="${project.title}"></a>
                            </td>
                            <td th:text="${project.description}">Description not found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="m-2" th:if="${completedProjectResults}">
                    <table class="table table-striped table-hover">
                        <caption>List of all completed projects the user is owner of</caption>
                        <thead class="table-dark">
                        <tr style="text-align: center">
                            <th scope="col">Project</th>
                            <th scope="col">End date</th>
                            <th scope="col">Duration</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="text-align: center" th:each="projectResult : ${completedProjectResults}">
                            <td>
                                <a th:href="@{'/projects/' + ${projectResult.projectId}}"
                                   th:text="${projectMapPo.get(projectResult).title}"></a>
                            </td>
                            <td th:text="${T(course.spring.jyra.utils.DateConverter).convertDate(projectResult.endDate)}">
                                End date not found
                            </td>
                            <td th:text="${projectResult.duration}">Duration not found</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/foot.html :: scripts"></script>
</body>
</html>