<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 d-flex bg-light vh-100">
            <ul class="nav flex-column">
                <li class="nav-item mt-4">
                    <h3 style="text-align: center" th:text="${project.title}"></h3>
                </li>
                <li class="nav-item">
                    <hr/>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/projects/' + ${project.id}}">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Current Sprint</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Backlog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Previous Sprint Results</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-10 d-flex justify-content-center row">
            <!--            TODO:-->
            <!--            BOARD CLASS POPULATED WITH DATA FROM THE CURRENT SPRINT-->
        </div>
    </div>
</div>

<script th:replace="fragments/foot.html :: scripts"></script>
</body>
</html>